.carousel-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.carousel-title h2 {
    font-size: 30px;
}



.carousel-title h4 {
    animation: fadeIn 1s ease-in-out;
    font-family: 'Patua One';
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.carousel-title h2 {
    animation: fadeIn 1s ease-in-out;
    font-size: 50px;
    font-family: 'Plaster';

}

#demo{
    margin-top: 50px;
    margin-bottom: 150px;
}
.after-carousel {
    text-align: center;
    margin-top: 10px;
    padding: 30px 20px;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.after-carousel h2 {
    color: #a26d5d; /* yumuşak kahve ton */
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
}

.after-carousel p {
    color: #555;
    font-size: 17px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

